.ticket-cart {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: #fff;
  color: black;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}
.ticket-cart-Left {
  width: 75%;
}
.ticket-cart-Right {
  width: 25%;
}
.ticketCart-top {
  width: 100%;
  height: 30px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticketCart-top-text1 {
  font-weight: 600;
  opacity: 0.7;
  flex: 2;
}
.ticketCart-top-text2 {
  font-weight: 600;
  opacity: 0.7;
  flex: 1;
}
.ticketCart-top2 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ticketCart-div1 {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ticket-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.ticketCart-top-text3 {
  font-weight: 600;
  text-align: justify;
}
.ticketCart-div2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ticket-cart-text1 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
}
.ticket-cart-text2 {
  font-weight: 700;
  margin-top: 0px;
}
.ticket-cart-link {
  text-decoration: none;
  padding: 8px;
  font-size: 18px;
  color: rgb(189, 29, 51);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  border: 2px solid rgb(189, 29, 51);
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 10px;
}
.ticket-cart-link:hover {
  background-color: rgb(189, 29, 51);
  color: #fff;
}
.ticketCart-Seat{
    height: 20px;
    width: 90px;
    background-color: aquamarine;
    border-radius: 10px;
}
@media screen and (max-width: 1000px) {
    .ticket-cart {
        flex-direction: column;
    }
    .ticket-cart-Left {
        width: 100%;
      }
      .ticket-cart-Right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .ticketCart-top2 {
        width: 100%;
        height: auto;
      }
}