.Header-Body{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Header-Box{
    height: 70px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Header-Img{
    height: 50px;
}